* {
    margin: 0;
    box-sizing: border-box;
}

div {
    display: flex;
    place-items: center;
    border: solid 1px black;
    min-height: 100px;
    flex-direction: column;
    max-width: 500px;
}

body {
    min-height: 100svh;
}

main {
    display: flex;
    max-width: 80%;
    margin-inline: auto;
    min-height: 60svh;
   
    
}

#divGridOne {
    background-color: red;
/*    grid-area: divgridone; */
}

#divGridTwo {
    background-color: blue;
/*    grid-area: divgridtwo; */
}

#divGridThree {
    background-color: green;
/*    grid-area: divgridthree; */
}

/*          Apply this to @media
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-auto-rows: 1fr;
    grid-template-areas: 
    "divgridone divgridone"
    "divgridtwo divgridthree";  
*/