:root {
    --yellowtext: hsl(71, 73%, 54%);
    --cyan1: hsl(179, 62%, 43%); 
    --cyan2: hsla(179, 62%, 43%, 40%);
    --lightgray: hsl(204, 43%, 93%);
}

* {
    margin: 0;
    box-sizing: border-box;
}

div {
    display: flex;
    min-height: 100px;
    flex-direction: column;
/*    max-width: 100%;
    width: 250px;
    height: 80%; */
    line-height: 120%;
}

body {
    width: 100vw;
    min-height: 100svh;
    background-color:hsl(218, 22%, 67%);    
}

main {
    display: flex;
    flex-direction: column;
    min-height: 60svh;
    align-items: center;
    justify-content: center;
}

h1 {
    color: var(--cyan1);
    font-size: 18px;
    font-weight: 700;
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

p {
    font-weight: 200;
    font-size: 16px;
    width: 100%;
    text-align: start;
}

#pDivOne {
    color: var(--yellowtext);
    font-weight: 700;
    padding: 0.6em 0;
}

#pDivOneTwo {
    color: gray;
}

.divCard {
    height: 30vh;
    width: 80vw;
}

#divGridOne {
    margin-top: 50px;
    background-color:white;
    padding: 5%;
    border-radius: 10px 10px 0 0;
/*    grid-area: divgridone; */
}

#divGridTwo {
    background-color: var(--cyan1);
    padding: 5%;
    
/*    grid-area: divgridtwo; */
}

#divGridThree {
    background-color: var(--cyan2);
    padding: 5%;
    border-radius: 0 0 10px 10px;
/*    grid-area: divgridthree; */
}

#pDivDollar {
    padding: 0.6em 0;
    opacity: 1;
    font-size: 25px;
    font-weight: 700;
}
span {
    opacity: .5;
    font-size: 16px;
    font-weight: 400;
}

#pDivTwo {
    padding: 0.6em 0;
    opacity: ;
}



button {
    background-color: var(--yellowtext);
    color: white;
    border: none;
    width: 80%;
    height: 50%;
    border-radius: 5px;
    margin-top: 0.6em;
    align-self: center; 
    box-shadow: 2px 3px 10px 1px hsl(0, 0%, 56%);   
    cursor: pointer;
    transition: 0.1s;
}
#pDivThree {
    padding: 0.6em 0;
}

#pList {
    font-size: 12px;
    padding:0.6em 0;
    line-height: 115%;
    opacity: 0.5;
}

button:hover {
    border: solid hsl(71, 60%, 40%) 1.5px;
}


#pDivTwo,#pDivThree,#pDivDollar,#pList,#h2DivTwoThree {
    color: white;
}


@media only screen and (min-width: 700px) {
    main {
      display: grid;
      width: 70%;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
      "join join"
      "sub why";
      padding: 10%;
      margin-inline: auto;
    }
.divCard{
    width: auto;
}
    #divGridOne {
        grid-area: join;
        width: 100%;
        margin-top: 0px;
    }
    
    #divGridTwo {
        grid-area: sub;
        width: 100%;
        border-radius: 0 0 0 10px;
    }
    
    #divGridThree {
        grid-area: why;
        width: 100%;
        border-radius: 0 0 10px 0;
    }



}