:root {
    --yellowtext: hsl(71, 73%, 54%);
    --cyan1: hsl(179, 62%, 43%); 
    --cyan2: hsla(179, 62%, 43%, 40%);
    --lightgray: hsl(204, 43%, 93%);
}

* {
    margin: 0;
    box-sizing: border-box;
}

div {
    display: flex;
    place-items: center;
    min-height: 100px;
    flex-direction: column;
    max-width: 500px;
}

body {
    min-height: 100svh;
    background-color:hsl(218, 22%, 67%);
}

main {
    max-width: 80%;
    margin-inline: auto;
    min-height: 60svh;
}

h1 {
    font-size: larger;
    color: var(--cyan1)
}

#pDivOne {
    color: var(--yellowtext);
}

#pDivOneTwo {
    color: var(--lightgray);
}

#divGridOne {
    background-color:white;
    border-radius: 10px 10px 0 0;
/*    grid-area: divgridone; */
}

#divGridTwo {
    background-color: var(--cyan1);
/*    grid-area: divgridtwo; */
}

#divGridThree {
    background-color: var(--cyan2);
    border-radius: 0 0 10px 10px;
/*    grid-area: divgridthree; */
}

button {
    background-color: var(--yellowtext);
    color: white;
}

/*          Apply this to @media
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-auto-rows: 1fr;
    grid-template-areas: 
    "divgridone divgridone"
    "divgridtwo divgridthree";  
*/